<div class="container mt-4">
  <div class="card route-card">
    <div class="card-body">

      <h3 class="form-title">Crear Ruta</h3>

      <div *ngIf="mensaje"
           class="alert"
           [ngClass]="{
             'alert-success': tipoMensaje === 'success',
             'alert-danger': tipoMensaje === 'danger'
           }">
        {{ mensaje }}
      </div>

      <form [formGroup]="routeForm" (ngSubmit)="guardar()" class="route-form">

        <div class="form-group">
          <label>Vehículo</label>
          <select formControlName="vehicle_id">
            <option value="">Seleccione un vehículo</option>
            <option *ngFor="let v of vehicles" [value]="v.id">
              {{ v.plate_number }}
            </option>
          </select>

          <small *ngIf="routeForm.get('vehicle_id')?.touched && routeForm.get('vehicle_id')?.invalid">
            El vehículo es obligatorio
          </small>
        </div>

        <div class="form-group">
          <label>Origen</label>
          <input type="text"
                 formControlName="origin"
                 placeholder="Ej. México">

          <small *ngIf="routeForm.get('origin')?.touched && routeForm.get('origin')?.invalid">
            El origen es obligatorio
          </small>
        </div>

        <div class="form-group">
          <label>Destino</label>
          <input type="text"
                 formControlName="destination"
                 placeholder="Ej. Estados Unidos">

          <small *ngIf="routeForm.get('destination')?.touched && routeForm.get('destination')?.invalid">
            El destino es obligatorio
          </small>
        </div>

        <div class="form-actions">
          <button type="button"
                  class="btn btn-secondary"
                  (click)="cancelar()">
            Cancelar
          </button>

          <button type="submit"
                  class="btn btn-primary"
                  [disabled]="routeForm.invalid">
            Guardar
          </button>
        </div>

      </form>

    </div>
  </div>
</div>
